[submodule "rkmh"]
	path = rkmh
	url = https://github.com/edawson/rkmh
[submodule "DWGSIM"]
	path = DWGSIM
	url = https://github.com/nh13/DWGSIM
[submodule "simple_mutator"]
	path = simple_mutator
	url = https://github.com/edawson/simple_mutator
